<table border="1" cellpadding="10px" cellspacing="10px" align="center">
    <thead style="background-color: grey;">
        <tr>
            <th>sno</th>
            <th>name</th>
            <th>capital</th>
            <th>region</th>
            <th>population</th>
            <th>flag</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let x of result;let i=index">
            <td>{{i+1}}</td>
            <td>{{x.name}}</td>
            <td>{{x.capital}}</td>
            <td>{{x.region}}</td>
            <td>{{x.population}}</td>
            <td><img width="100px" height="50px" src="{{x.flag}}"></td>
        </tr>
    </tbody>
</table>